.about-section {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  background-image: url(../assets/about-background.svg);
  background-size: cover;
  height: 32.6rem;
  width: 72.22%;
  min-width: 104rem;
  padding: 4.5rem;
  border-radius: 3.5rem;
  position: relative;
}

.about-section > .main-text > .subtitle {
  margin-bottom: 3rem;
}

.about-section > .moreinfo {
  position: absolute;
  bottom: 4.5rem;
  right: 4.5rem;
}
