.client-section {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.client-section > .items > .text {
  margin-bottom: 5.6rem;
  text-align: center;
}

.client-section > .items > .text > .subtitle {
  font-weight: 500;
  font-size: 3.6rem;
  color: var(--text-color-1);
}

.client-section > .items > .text > .desc {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--text-color-1);
  margin-top: 2.5rem;
}

.client-section > .items > .clients {
  display: flex;
  align-items: flex-end;
  gap: 2.7rem;
}