.client-section {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.client-section > .items > .main-text {
  margin-bottom: 5.6rem;
  text-align: center;
}

.client-section > .items > .main-text > .desc {
  margin-top: 2.5rem;
}

.client-section > .items > .clients {
  display: flex;
  align-items: flex-end;
  gap: 2.7rem;
}
