.client-section {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.client-section > .wrapper {
  text-align: center;
}

.client-section > .wrapper > .main-text.-desc {
  margin-top: 2.5rem;
}

.client-section > .wrapper > .clients {
  margin-top: 5.6rem;
  display: flex;
  align-items: flex-end;
  gap: 2.7rem;
}
