.hero-section {
  display: flex;
  background-image: url(../assets/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3.5rem;
  align-items: center;
  width: 100%;
}

.hero-section > .main-text {
  padding-left: 7rem;
  flex: 1;
}

.hero-section > .main-text > .desc {
  max-width: 47rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.hero-section > .image {
  border-bottom-right-radius: 3.5rem;
}
