.main-button {
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 3.5rem;
  padding: 1.8rem 0;
  width: 26.4rem;
  font-size: 2.2rem;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  color: #FFF;
}

.main-button.-hero {
  color: var(--primary-color);
  background-color: #FFF;
}

.main-button.-arrow {
  border: none;
  font-size: 0;
  width: fit-content;
  padding: 2.1rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.main-button.-arrow:not(.-disabled):hover {
  opacity: 0.8;
}

.main-button.-arrow.-disabled {
  background-color: #878D9B;
  cursor: not-allowed;
}

.main-button.-arrow.-disabled > .arrow {
  opacity: 0.5;
}