.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5rem;
  padding-right: 10rem;
  margin-top: 4rem;
  height: 49rem;
  background-color: var(--primary-color);
  background-image: url(../assets/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3.5rem;
  width: 100%;
}

.main-footer > .footerinfo {
  display: flex;
  justify-content: space-between;
}

.main-footer > .footerinfo .main-text.-desc {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.main-footer > .footerinfo > .container {
  display: flex;
  gap: 9rem;
}
