.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-header > ul {
  display: flex;
  gap: 2.5rem;
  list-style-type: none;
}

.navbar-header .links {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: #303948;
}