.main-button {
  display: inline-block;
  background-color: #14213D;
  border-radius: 3.5rem;
  padding: 1.8rem 0;
  width: 26.4rem;
  font-size: 2.2rem;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  color: #FFF;
}

.main-button.-hero {
  color: #14213D;
  background-color: #FFF;
}