.process-section {
  display: flex;
  padding: 10rem 0;
}

.process-section > .textinfo {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.process-section > .image {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  gap: 2.2rem;
  align-items: center;
}

.process-section > .textinfo > .main-text {
  max-width: 56rem;
  width: 100%;
  margin-bottom: 5.5rem;
}
