.services-section {
  display: flex;
  padding: 7rem 0;
}

.services-section > .image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.services-section > .textinfo {
  flex: 1;
  display: flex;
  padding-left: 4rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.services-section .textwrapper .main-text.-subtitle {
  margin: 1.4rem 0;
}

.services-section > .image > .services {
  max-width: 55.2rem;
  width: 100%;
  border-radius: 3.5rem;
  box-shadow: 3rem 4rem 0px #E5E5E5;
  filter: drop-shadow(0px 2.5rem 5rem rgba(0, 0, 0, 0.15));
}

.services-section > .textinfo > .cardwrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 8rem;
}