:root {
  --title-font: 700 5rem 'Inter', sans-serif;
  --subtitle-font: 500 3.6rem 'Inter', sans-serif;
  --desc-font: 400 1.8rem 'Inter', sans-serif;

  --text-color-1: #303948;
  --text-color-2: #59616D;
  --primary-color: #14213D;
}